name: OS
on: [pull_request, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  alpine:
    name: Alpine
    defaults:
      run:
        shell: alpine.sh {0}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jirutka/setup-alpine@v1
        with:
          branch: v3.15
      - name: Alpine/musl versions . . .
        run: |
          cat /etc/alpine-release
          apk info musl
      - name: Install autotools etc . . .
        run: |
          apk add build-base autoconf automake libtool
        shell: alpine.sh --root {0}
      - name: Configure . . .
        run: autoreconf -if && ./configure
      - name: Build . . .
        run: make -j4
      - name: Run the tests . . .
        run: ./test-samples.sh
  cygwin:
    name: Cygwin
    defaults:
      run:
        shell: C:\cygwin64\bin\bash.exe --login -o igncr '{0}'
    timeout-minutes: 60
    runs-on: windows-latest
    env:
      CHERE_INVOKING: 1
    steps:
      - uses: gap-actions/setup-cygwin@v1
      - uses: actions/checkout@v4
      - name: Configure . . .
        run: autoreconf -if && ./configure
      - name: Build . . .
        run: make -j4
      - name: Run the tests . . .
        run: ./test-samples.sh
  msys:
    name: Windows-${{ matrix.sys }}
    defaults:
      run:
        shell: msys2 {0}
    timeout-minutes: 60
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        sys: [MINGW64, MINGW32, UCRT64, CLANG64]
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: ${{ matrix.sys }}
          pacboy: toolchain autotools
      - uses: actions/checkout@v4
      - name: Configure . . .
        run: autoreconf -if && ./configure
      - name: Build . . .
        run: make -j4
      - name: Run the tests . . .
        run: ./test-samples.sh
  macos:
    name: macOS
    timeout-minutes: 60
    runs-on: macOS-latest
    env:
      CC: clang
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies . . .
        run: brew install autoconf automake libtool
      - name: Clang version . . .
        run: clang --version
      - name: Configure . . .
        run: |
          mkdir -p m4
          autoreconf -if
          ./configure CC="$CC"
      - name: Build . . .
        run: make -j4
      - name: Run the tests . . .
        run: ./test-samples.sh
  arm:
    name: Ubuntu-arm
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Install autotools etc . . .
        run: sudo apt-get install autoconf automake libtool
      - name: Configure . . .
        run: autoreconf -if && ./configure
      - name: Build . . .
        run: make -j4
      - name: Run the tests . . .
        run: ./test-samples.sh
  aarch64:
    name: Ubuntu-aarch64
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: uraimo/run-on-arch-action@v3
        with:
          arch: aarch64
          distro: ubuntu22.04
          run: |
            apt-get --yes update
            apt-get install autoconf automake libtool build-essential --yes
            gcc --version
            autoreconf -if && ./configure
            make -j4
            ./test-samples.sh
